:root {
  --color-icon-header: rgba(255, 255, 255, 0.6);
  --grey-color-list: #797979;
  --red-color: #f60;
  --shadow-box: 3px 3px 15px 10px rgba(0, 0, 0, 0.3)
}

$portrait-phones-max: 575.98px;
$landscape-phones-max: 767.98px;
$tablets-max: 991.98px;
