@import '../../app/styles/vars.scss';
.container {
  padding: 10px 50px;
  @media (max-width: $landscape-phones-max) {
    padding: 10px 10px;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    .navigation__link {
      text-decoration: underline;
    }
  }
  .title {
    margin-top: 20px;
    font-size: 20px;
  }
  .observableBlock {
    height: 50px;
  }
}
