@import "../../app/styles/vars.scss";
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    .navigation__link {
      text-decoration: underline;
    }
  }
  .content {
    display: grid;
    grid-template-columns: minmax(275px, 576px);
    margin: 0 auto;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--shadow-box-bold);
    .title {
      margin: 20px 0;
      font-size: 20px;
    }
    .selectors {
      display: flex;
      gap: 10px;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0;
    }
    .observableBlock {
      height: 20px;
    }
  }
}
