@import "../../app/styles/vars.scss";
.container {
  position: relative;
  background-color: #1f1f1f;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  @media (max-width: $landscape-phones-max) {
    padding: 0 10px;
  }
  .content {
    display: grid;
    grid-template-columns: minmax(0, 140px) 1fr auto auto;
    gap: 10px;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    .menu__wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .search__wrapper_desktop {
      max-width: 300px;
    }
    .siteName {
      font-size: 25px;
      color: white;
      text-transform: uppercase;
      @media (max-width: $landscape-phones-max) {
        font-size: 20px;
      }
    }
    .signin {
      cursor: pointer;
      white-space: nowrap;
      background-color: unset;
      color: rgba(255, 255, 255, 0.7);
      font-size: 20px;
    }
  }
}
