@import "../../app/styles/vars.scss";
.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 50px;
  background-color: #1f1f1f;
  height: 70px;
  @media (max-width: $landscape-phones-max) {
    padding-left: 5px;
    gap: 5px;
  }
  
  
  .account {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    width: 25px;
    height: 25px;
    background-image: url("../../assets/img/account.svg");
    background-size: cover;
    border-radius: 50%;
    @media (max-width: $landscape-phones-max) {
      right: 10px;
    }
  }
}
