@import "../../app/styles/vars.scss";
.container {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  height: 70px;
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: $landscape-phones-max) {
      padding-left: 0px;
      gap: 5px;
    }
    .siteName {
      font-size: 25px;
      color: white;
      text-transform: uppercase;
      @media (max-width: $landscape-phones-max) {
        display: none;
      }
    }
  }
}
