@import "../../app/styles/vars.scss";

.container {
  z-index: 100;
  display: none;
  height: 70px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  &.mobile {
    background-color: #333;
  }
  @media (max-width: $landscape-phones-max) {
    display: flex;
  }
  .menu__top {
    display: flex;
    gap: 5px;
    align-items: center;
    .menu__icon {
      width: 25px;
      height: 25px;
      color: var(--color-icon-header);
    }
    .menu__siteName {
      font-size: 25px;
      color: white;
      text-transform: uppercase;
    }
  }
  .menu__bottom {
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
  }
}
