@import '../../app/styles/vars';
.container {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
