.container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 5px;
  .title {
    font-size: 12px;;
    color: var(--grey-color-list);
  }
  .text {
    font-size: 12px;
    &[data-clickable='true']:hover {
      cursor: pointer;
      color: var(--red-color);
    }
  }
}