@import "../../../../app/styles/vars.scss";
.container {
  width: 100%;
  .title {
    font-size: 24px;
    border-bottom: 1px solid black;
    padding: 15px 0;
  }
  .releases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    @media (max-width: $portrait-phones-max) {
      display: flex;
      flex-direction: column;
    }
    .releases__release {
      margin-top: 20px;
      .release__link {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
        .release__icon {
          font-size: 16px;
          color: var(--grey-color);
        }
        .release__title {
          font-weight: 600;
          font-size: 20px;
        }
      }
      .release__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
      }
    }
  }
}
