.container {

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .header__title {
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
    }
    .header__icon {
      display: flex;
      align-items: center;
      font-size: 17px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .list__name {
      font-size: 12px;
      &[data-clickable="true"]:hover {
        cursor: pointer;
        color: var(--red-color);
      }
    }
  }
}
