.container {
  padding: 15px 10px;
  .stat {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 170px;
    margin-bottom: 30px;
    .stat__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .stat__table {
      .table__body {
        .table__row {
          .table__data {
            padding: 5px;
          }
        }
      }
    }
  }
  
}
