.container {
  --link-hover-color: rgba(255, 255, 255, 1);
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  min-width: 200px;
  background-color: #333;
  padding: 10px 20px 20px 20px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .header__login {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        color: var(--link-hover-color);
      }
    }
    .header__avatar {
      display: block;
      width: 32px;
      height: 32px;
      background-image: url("../../../../assets/img/account.svg");
      background-size: cover;
      border-radius: 50%;
    }
  }
  .nav {
    margin-bottom: 20px;
    .nav__item {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.8);
      font-size: 15px;
      font-weight: 400;
      padding: 5px 0;
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
  .btnLogout {
    background-color: unset;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    &:hover {
      color: var(--link-hover-color);
    }
  }
}
