.container {
  .title {
    margin: 0 0 20px;
    font-size: 40px;
    font-weight: 700;
    color: #222;
  }
  .movies {
    .movies__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
