.container {
  .title {
    margin: 0 0 20px;
    font-size: 40px;
    font-weight: 700;
    color: #222;
  }
  .content {
    display: flex;
    min-width: 100%;
    
    .movies {
      width: calc(100% - 160px);
      .movies__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .observableBlock {
        height: 20px;
      }
    }
  }
}


