.container {
  display: flex;
  gap: 20px;
  .poster {
    width: 88px;
    height: 88px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    .info__title {
      font-size: 20px;
      font-weight: 600;
    }
    .info__total {
      color: #777;
      font-size: 15px;
    }
  }
}