@import "../../../../app/styles/vars";
.container {
  .rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    .rating__number {
      font-size: 18px;
      font-weight: 600;
      color: #3bb33b;
      @media (max-width: $tablets-max) {
        font-size: 15px;
      }
      @media (max-width: $portrait-phones-max) {
        font-size: 14px;
      }
    }
    .rating__votesCount {
      font-size: 13px;
      @media (max-width: $portrait-phones-max) {
        font-size: 12px;
      }
    }
  }
}
