@import "../../app/styles/vars";
.container {
  position: relative;
  .selected {
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-size: 18px;
  }
  .options {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 150px;
    background-color: white;
    z-index: 100;
    padding: 5px;
    box-shadow: var(--shadow-box);
    .options__item {
      cursor: pointer;
      position: relative;
      padding: 5px 5px 5px 25px;
      font-size: 15px;
      .item__icon {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
      .item__text {
        display: block;
      }
      &:hover {
        @include list-item-hover;
      }
    }
  }
}
