@import "../../app/styles/vars.scss";

.container {
  display: flex;
  align-items: center;
  gap: 5px;
  .index {
    text-align: right;
    width: 40px;
    font-size: 14px;
    color: var(--grey-color-list);
  }
  .poster {
    height: 60px;
    width: 40px;
    min-height: 60px;
    min-width: 40px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .names {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .names__ru {
      color: #060077;
    }
    .names__en {
      color: var(--grey-color-list);
    }
  }
  .date {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .day {
      color: var(--grey-color-list);
    }
    .month {
      color: var(--grey-color-list);
    }
  }
}
