.container {
  position: relative;
  .input {
    display: block;
    padding: 0 10px;
    font-size: 18px;
    height: 25px;
    border-radius: 5px;
    &.main {
      background-color: rgba(242, 242, 242, 0.15);
      &:focus {
        background-color: white;
        & ~ .searchIcon, .settingsIcon {
          color: rgba(0, 0, 0, 0.6);
        }
        & ~ .settingsIcon {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  .searchIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  .settingsIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
  }
}
