.container {
  box-shadow: var(--shadow-box);
  min-height: inherit;
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .box {
    min-height: 100%;
    .box__header {
      display: grid;
      grid-template-columns: 25px 1fr 40px 60px;
      justify-items: center;
      align-items: center;
      padding: 10px 0;
      background-color: #005;
      margin-bottom: 10px;
      .box__headerItem {
        text-align: center;
        font-size: 13px;
        color: white;
      }
    }
    .box__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-height: 100%;

      .list__item {
        font-size: 11px;
        text-align: center;
      }
      .observable {
        height: 10px;
      }
    }
  }
}
