@import "../../../../app/styles/vars";
.container {
  width: 100%;
  display: flex;
  gap: 5px;
  .rating {
    color: #3bb33b;
    font-size: 13px;
    font-weight: 600;
  }
  .other {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
  }
}
