@import "../../app/styles/vars.scss";

.content {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  .all {
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--red-color);
  }
}


