.container {
  background-color: white;
  position: relative;
  .title {
    color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
