@import "../../../../app/styles/vars.scss";
.container {
  background-color: unset;
  width: auto;
  @media (max-width: $landscape-phones-max) {
    right: 10px;
  }
  /* .account {
    width: 25px;
    height: 25px;
    background-image: url("../../assets/img/account.svg");
    background-size: cover;
    border-radius: 50%;
  } */
  .signin__btnOpen {
    white-space: nowrap;
    background-color: unset;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-transform: capitalize;
  }
  .signin__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
